Package: [[name]]
Version: [[version]]
Architecture: all
Maintainer: salvullo <salvatore.monforte@ct.infn.it>
Section: web
Priority: optional
Depends: graylog-server | graylog-radio
Description: [[description]]
